root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{json,sarif}]
indent_style = space
indent_size = 2

[*.cr]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.ecr]
charset = utf-8
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

[*.py]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
max_line_length = 80
trim_trailing_whitespace = true
