!/docs/*.py
/site/
/lib/
/bin/
/.shards/
*.dwarf
.venv
.vscode
.codacy
*.sarif
/test.*
/.spectator-failures

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
